body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}


#main-header {
    color: white;
    text-align: center;
   
}


#navbar {
    
    text-align: center;
}

#navbar a {
    color: white;
    text-align: center;
}


#footer {
  
    color: white;
    text-align: center;

}
*{
    text-align: center;
    background-color: lightpink;
}